[Unit]
Description=Docker composition for Megazord
After=docker.service network.target multi-user.target
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose --file /tools/megazord-composition/docker-compose.yml up
ExecStop=/usr/bin/docker-compose --file /tools/megazord-composition/docker-compose.yml down

[Install]
WantedBy=multi-user.target
